body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

#main {
  display: flex;
  flex-flow: wrap;
}

header {
  background-color: #003349;
  padding: 8px;
}

a.logo {
  display: block;
  position: relative;
  height: 35px;
  width: 100px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.top-row {
  width: 100%;
  justify-content: space-between;
}

.charts {
  width: 100%;
}

h1 {
  font-size: 1.8rem;
  font-weight: 250;
  padding-left: 8px;
}

fieldset {
  padding: 10px 50px 15px;
  margin-bottom: 25px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 2.4rem;
  border: solid 1px lightgrey;
  display: flex;
  justify-content: center;
}

legend {
  margin-left: -35px;
  font-size: 2rem;
  font-weight: bold;
}

#from-container,
#to-container {
  margin-bottom: 1em;
  vertical-align: top;
}

fieldset label {
  float: left;
  width: 150px;
  display: inline-block;
  text-align: right;
  padding-right: 1em;
  margin-top: 8px;
}

#from-date,
#to-date {
  font-size: 3rem;
  font-family: "Roboto";
}

#dateUpdate {
  zoom: 2.5;
  margin: 2em auto;
}

#summary {
  margin: 0 0 10px 15px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

#summary > div {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  height: 130px;
  margin-bottom: 1em;
}

dt {
  font-family: "Roboto Condensed";
  font-size: 1.8em;
  color: #4D4D4D;
}

#score-header {
  width: 65px;
  border-bottom: 1px dotted;
  margin-bottom: 5px;
  z-index: 999;
}

#score-tip {
  display: none;
  font-family: "Roboto Condensed";
  font-size: 0.8em;
  vertical-align: text-top;
  z-index: 999;
  position: absolute;
}

dd {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 5em;
  -webkit-margin-start: 0px;
  position: absolute;
  bottom: 0;
}

dd > img {
  vertical-align: 21%;
  width: 35px;
  margin-left: -8px;
}

#summaryDate {
  font-size: 12px;
  padding: 0 1.8em;
  text-align: center;
}

#chart1table_wrapper,
#chart2table_wrapper,
#chart3table_wrapper,
#chart4table_wrapper,
#chart5table_wrapper {
  display: none;
  padding-top: 1.5em;
  margin-bottom: 1em;
}

.chart-toggle {
  position: absolute;
  z-index: 999;
  margin-left: 15px;
  margin-top: 15px;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  height: 1.5em;
  font-size: 2.4em;
  color: #4D4D4D;
}

#chart1table_length {
  float: right;
}

#chart1,
#chart2,
#chart3,
#chart4,
#chart5 {
  height: 500px;
  padding-bottom: 1em;
  zoom: 2;
}

#datatable_wrapper,
#chart1table_wrapper,
#chart2table_wrapper,
#chart3table_wrapper,
#chart4table_wrapper,
#chart5table_wrapper {
  zoom: 2;
}

table>caption {
  font-family: "Roboto Condensed";
  font-size: 1.2em;
  color: #4D4D4D;
  margin-bottom: 0.5em;
}

#datatable_length {
  float: right;
  margin-bottom: 0.5em;
  padding-right: 1em;
}

.dataTables_info {
  padding-left: 1em;
}

#datatable_paginate {
  padding-right: 1em;
  padding-bottom: 1em;
}


/* Small screens - larger than 768px */

@media only screen and (min-width: 48em) {
  
  a.logo {
    display: block;
    position: relative;
    height: 53px;
    width: 150px;
  }

  h1 {
    font-size: 3rem;
    padding-left: 15px;
  }

  fieldset {
    padding: 10px 0px 15px;
    margin-top: 10px;
  }

  legend {
    margin-left: 10px;
  }

  #from-container {
    float: none;
    margin-right: 0px;
    margin-left: 2rem;
    padding-top: 2rem;
  }

  #to-container {
    padding-top: 2rem;
    margin-left: 2rem;
  }

  #summary > div {
    height: 170px;
  }

  dt {
    width: 180px;
  }
}


/* Medium screens - larger than 992px */

@media only screen and (min-width: 62em) {
  
  a.logo {
    height: 35px;
    width: 100px;
  }

  h1 {
    font-size: 2.5rem;
    padding-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  fieldset {
    padding: 10px 0px 0px;
    font-size: 1rem;
    width: 235px;
    float: right;
  }

  legend {
    font-size: 1rem;
    font-weight: normal;
  }

  #from-container {
    float: none;
    margin-right: 0px;
    margin-left: 1rem;
    padding-top: 0rem;
    margin-bottom: 0.8em;
  }

  #to-container {
    padding-top: 0rem;
    margin-left: 1rem;
    margin-bottom: 0.8em;
    float: left;
  }

  fieldset label {
    float: left;
    width: 40px;
    font-weight: bold;
    padding-right: 8px;
    margin-top: 3px;
  }

  #from-date,
  #to-date {
    font-size: 1rem;
    width: 150px;
  }

  #dateUpdate {
    zoom: 1;
    margin: 1em auto;
  }

  #chart1,
  #chart2,
  #chart3,
  #chart4,
  #chart5 {
    height: 550px;
    zoom: 1;
  }

  #summary {
    margin-top: 1em;
  }

  #summary > div {
    height: 115px;
  }

  dt {
    font-size: 1.05em;
    font-weight: bold;
    width: 220px;
  }

  #score-holder {
    white-space: nowrap;
  }

  #score-header {
    float: left;
    width: 38px;
  }

  #score-tip {
    margin-left: 10px;
    vertical-align: text-top;
    white-space: nowrap;
  }

  dd {
    font-size: 4.5em;
    bottom: 10px;
  }

  #summaryDate {
    text-align: left;
  }

  .chart-toggle {
    height: 1.5em;
    font-size: 1.2em;
  }

  #datatable_wrapper,
  #chart1table_wrapper,
  #chart2table_wrapper,
  #chart3table_wrapper,
  #chart4table_wrapper,
  #chart5table_wrapper {
    zoom: 1;
  }
}


/* Large screens - larger than 1200px */

@media only screen and (min-width: 75em) {
 
  h1 {
    padding-left: 1rem;
    margin-top: 1rem;
  }

  fieldset {
    padding: 10px 0px 0px;
    font-size: 1rem;
    width: 520px;
    float: right;
    margin-bottom: 0.5rem;
    display: inline;
    justify-content: inherit;
  }

  #from-container {
    float: left;
  }

  #to-container {
    margin-right: 1em;
  }

  #to-container label {
    width: 25px;
  }

  #dateUpdate {
    vertical-align: -5%;
    margin: 0;
  }
  
  #chart1,
  #chart2,
  #chart3,
  #chart4,
  #chart5 {
    height: 600px;
  }
}

/* flexbox grid override */

.row {
  margin-right: 0;
  margin-left: 0;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  padding-right: 0px;
  padding-left: 0px;
}