registry = https://agora.dequecloud.com/artifactory/api/npm/dequelabs/
_auth = am9zaHVhLm1jY2x1cmVAZGVxdWUuY29tOkFLQ3A1YkJOVWFpdVdWWWNrRTdINVdCRFNTNTcyRTRnSFB4bjR6c1JmTTdwa2Nob01rd200ZUVqU0NCWTVjQ1hXOG40Y0czMnk=
always-auth = true
email = joshua.mcclure@deque.com